*{
	margin: 0;
	padding: 0;
}
html{
	font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
}
.left_logo,.right_logo,.icon,#main_center,#loopslider,#brand_select_btn,.popup{
	display: none;
}